body {
    color: rgb(255, 255, 255);
    background: black;
    margin: 0px;
    font-family: "Rubik Mono One", monospace;
    margin-bottom: 100px
}


header {
    border-bottom: solid 01px rgb(255, 0, 0);
    padding: 20px 1;
    font-size: 35px;
    color: rgb(181 27 27);
    text-align: center;
}

.chamada {
    background: rgb(181 27 1);
    padding-bottom: 80px;
    padding-top: 80px;
    color: rgb(65 9 9);
    display: flex;
    justify-content: center;
    font-family: "Playfair Display", serif;

}

.chamada-texto {
    margin-right: 5%;

}

h1 {
    font-size: 39px
}

p {
    font-size: 20px
}

img {
    height: 240px
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    color: rgb(90, 90, 90)
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;

}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid red
}

.categoria h2 {
    color: rgb(181 27 1);
    text-align: center;
}